*, *::before, *::after
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%;
}

body
{
    font-family: 'Times New Roman', Times, serif;
}

/* The website's header */
.main-header
{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The website's name */
.brand-name
{
    color: white;
    font-size: 1.875rem; /* Equivalent to 30px */
}

.nav ul
{
    margin: 0;
}

.nav li
{
    display: inline;
}

.nav a
{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

.nav a:hover
{

}

.main-nav
{
    text-align: center;
}

.main-nav li
{
    
}

.main-nav a
{
    color: white;
}

.container
{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1.5em; /* Placeholder value */
}

.content-section
{
    margin: 1em;
}

.section-title
{
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.625rem;
}